<div class="container">
    <mat-toolbar style="display: flex; flex-direction: row; justify-content: space-between;   background-color: rgba(33,33,33,255); height: 64px; padding-right: 0;">
        <div class="logo">
            <img src="../../../assets/images/icon.png" alt="" height="50px">
            <span class="font-head">Game of Thrones</span>
        </div>
        <div class="button" >
            <button mat-button >Home</button>
            <button mat-button >Story</button>
            <button mat-button >Episodes</button>
            <button mat-button >Videos</button>
            <button  routerLink=""  mat-button >Log out</button>
        </div>
      </mat-toolbar>

</div>