<app-navbar></app-navbar>
<div class="container">
  <div class="row">
    <div class="col-4">
      <img src="assets/images/photo.jpg" width="350px" alt="phtoto" />
    </div>
    <div class="col-8" style="padding-left: 12px; font-size: 14px">
      <h2>Daenerys Targaryen</h2>
      <hr />
      <h4>Character</h4>
      Daenerys Targaryen is the daughter of King Aerys II Targaryen (also
      referred to as "The Mad King") and his sister-wife Queen Rhaella, and is
      one of the last survivors of House Targaryen. She serves as the
      third-person point-of-view character of 31 chapters of A Game of Thrones,
      A Clash of Kings, A Storm of Swords, and A Dance with Dragons. This makes
      her the series' fourth most prominent narrative voice after Tyrion
      Lannister, Jon Snow and Arya Stark.
    </div>
  </div>
  <div class="row" style="margin-top: 20px">
    <div class="col-6">
      <iframe
        width="560"
        height="315"
        src="https://www.youtube.com/embed/Ydi80YrCnPY"
        title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen=""
        style="border-style: none; padding-left: 12px; margin-top: 0%"
      ></iframe>
    </div>
    <div
      class="col-6"
      style="padding-left: 12px; font-size: 14px; width: 48%; line-height: 1.5"
    >
      <h4>Personality</h4>
      <p>
        Daenerys is most often described as uncommonly beautiful, with long,
        pale silver-gold hair and purple eyes. She is slender and pale, although
        taller than some of her female ancestors. Tales of Daenerys's beauty are
        numerous, and throughout the novels she encounters countless suitors who
        seek her hand in marriage, sometimes to gain control of her three
        dragons. She is fluent in the Common Tongue of Westeros, Dothraki, High
        Valyrian and bastard Valyrian, which she speaks with a Tyroshi accent.
        Over the course of the first three novels she becomes fluent in the
        Dothraki language and Ghiscari, spoken in the slave cities in Essos.
      </p>
    </div>
  </div>
  <div class="box">
    <hr />
  </div>
  <div class="box" style="display: flex; flex-direction: column; color: white">
    <mat-label style="margin-bottom: 10px">Comment</mat-label>
    <div style="color: white">
      <mat-form-field
        appearance="outline"
        style="width: 100%; outline-color: white;"
      >
        <mat-label>What do you feel about this?</mat-label>
        <textarea
          matInput
          placeholder="Ex. It makes me feel..."
          style="color: white; font-size: 12px"
        ></textarea>
      </mat-form-field>
    </div>
  </div>
  <div class="row" style="justify-content: space-between; width: 99%">
    <div class="row" style="width: 100%; white-space: nowrap; margin-left: 0%">
        <!-- Heart button -->
      <button
        mat-icon-button
        matTooltip="Accent"
        color="accent"
        aria-label="Example icon-button with a heart icon"
        class="mat-focus-indicator mat-icon-button mat-button-base mat-accent"
      >
        <span class="mat-button-wrapper">
          <mat-icon>favorite</mat-icon>
          <mat-icon>favorite</mat-icon>
          <mat-icon>favorite</mat-icon>
          <mat-icon>favorite</mat-icon>
          <mat-icon>favorite</mat-icon>
        </span>
        <span
          matripple=""
          class="mat-ripple mat-button-ripple mat-button-ripple-round"
        ></span>
        <span class="mat-button-focus-overlay"></span>
      </button>
    </div>

    <!-- Send button -->
    <div>
      <button
        mat-button
        style="
          background-color: rgba(66, 66, 66, 255);
          color: white;
          font-size: 14px;
        "
      >
        Send
      </button>
    </div>
  </div>
</div>
